<div class="section section-about">
  <div class="photos">
    <img src="{{site.baseurl}}/assets/img/kelley-stephens.jpg">
    <img src="{{site.baseurl}}/assets/img/stephens.JPG">
  </div>
  <div class="details">
    <p>Hi!  I'm Kelley! I am a full-stack software developer in the Nashville area.</p>
    <p>
      In 2014, I realized I needed a career change so I quit my job in operations
      & joined the Nashville Software School. After 6 months of an intensive, hands-on
      development bootcamp, I entered into my first position as a Software Engineer at
      Ingram Content Group. For the next three years, I learned, grew, & deepened my passion
      for software development.
    </p>
    <p>
      In 2017, I was contacted for a new opportunity at Ramsey Solutions. I joined the
      development team as the first female developer in the company. There I was able to
      be mentored, mentor others, give lightning talks, develop, QA, debug, and much more.
    </p>
    <p>
      After having two beautiful babies, I've decided it's time to branch out own my own for
      increased flexibility & opportunities. I'm excited to work with a diverisfied client base
      in order to design and build elegant solutions for many different project types.
    </p>
    <p>
      In my spare time, I love visiting local Nashville spots with my family- restaurants, maker's
      markets, parks, & local boutique shops. I also love spending time at home with my hubby,
      the kiddos, our fun-loving pup & lazy ragdoll cat. I spend my Sundays at Church of the
      City in Franklin and my weekdays wearing the multiple hats of a developer, mom, wife, &
      friend. To say we are busy is an understatement, but we wouldn't have it any other way.
    </p>
    </p>
  </div>
</div>
