<div class="bg-primary section section-contact">
  <form action="https://usebasin.com/f/775edfd63f8d" method="POST" class="col-lg-6 col-md-8 col-sm-10">
    <h2>Want to collaborate? Or maybe just want to say hi? Send me a message!</h2>
    <div class="form-group">
      <label>Your Name</label>
      <input type="text" name="Name" class="form-control form-control-lg">
    </div>
    <div class="form-group">
      <label>Your Email</label>
      <input type="text" name="_replyto" class="form-control form-control-lg">
    </div>
    <div class="form-group">
      <label>Message</label>
      <textarea name="message" class="form-control form-control-lg"></textarea>
    </div>
    <button type="submit" class="btn btn-lg">Submit</button>
  </form>
</div>
